@media only screen and (min-width:700px){
    .form{
        display: flex;
        justify-content: center;
    }
    .divnav{
        display: flex;
        align-items: baseline;
    }
    .h1responsive{
        text-align:center;
        margin-top: 100px;
    }
    .p1{
       text-align: center;
        margin-top: 25px;
      

    }
    .secone,.sectwo{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .imgs{
        margin-left: 200px;
        margin-right: 200px;
    
    }

    .imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        
    }
    
 
    .imgtwo,.imgthree{
        flex-grow: 2;
    }
    .imgone,.imgtwo{
        margin-bottom: 10px;
    }
    .imgone,.imgthree{
        margin-right: 10px;

    }

}
@media only screen and (max-width:700px){
    .divnav{
        display: flex;
        flex-direction: column;
      align-items: center;
      justify-content: center;

    }
    .logo{
        margin-left: 1px;
        margin-bottom: 10px;
    }
    .h1responsive,.p1,.hfeatuers,.p3,.h3ohtersay,.hjoinour,.p7{
       margin: auto;
       text-align:center;
       margin-top: 30px;
    }
    .h3ohtersay{
        margin-bottom: 20px;
    }
/*.divbtn{
    margin-left: 140px;
    margin-top: 40px;
}*/
.p2{
margin-left: 40px;
margin-right: 40px;
}
/*.hr1{
margin-left: 200px;
}*/
/*.hr2,.hr4{
margin-left: 150px;
margin-top: 40px;
}*/



.secone{
    margin-top: 100px;
}
/*.imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/
.imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.imgone,.imgtwo,.imgthree,.imgfour{
    margin-bottom: 20px;

}

.sectwo,.secthree{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 80px;
}
.secone{
    height: 900px;
    margin-bottom: 180px;
 
}
.secfour,.foot{
    margin-right: 20px;
    margin-left: 20px;
}

.sectwo{
    height: 1000px;
    
}
.divserv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.servone,.servtwo,.servthree{
    margin-bottom: 40px;
}
.secfour{
    padding-top: 40px;
}
.form{
    display: flex;
    flex-direction: column;
}
.text,.btnsub{
    align-self: center;
}
.text{
    margin-bottom: 20px;
}

}